body{
    background: yellow;
    margin: 0px;
    padding-bottom: 100px;
}
.main{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
header{
    font-size: 40px;
    border-bottom: solid 2px rgb(21, 59, 226);
    padding-bottom: 20px;
}
.titulo{
    margin-right: 5%;
    font-size: 30px;
}
.subtitulo{
    margin-right: 10%;
    font-size: 20px;
    margin-top: 10%;
}
.fila{
    margin: 50px;
}
img{
    height: 200px;
}
.fila{
    overflow-x: auto;
    display: flex;
    gap: 10px;
}
.fila img{
    opacity: 0.5;
}
.fila img:hover{
    opacity: 1;
    border: solid white 5px;
}